  <head>
</head>
<body>
  <div class="fullscreen_block hided">
    <ul class="optionset" data-option-key="filter">
      <li class="selected"><a href="#filter" data-option-value="*">All Works</a></li>
      <li><a data-option-value=".baby shower" href="#filter" title="View all post filed under advertisement">Baby Shower</a></li>
      <li><a data-option-value=".birthday" href="#filter" title="View all post filed under cities">Birthday</a></li>
      <li><a data-option-value=".cradleceremony" href="#filter" title="View all post filed under fashion">Cradle Ceremony</a></li>
      <li><a data-option-value=".graduation" href="#filter" title="View all post filed under fashion">Graduation</a></li>
      <li><a data-option-value=".house warming" href="#filter" title="View all post filed under nature">House Warming</a></li>
        </ul>
        <div class="fs_blog_module image-grid">

          <% @albums.each do |album| %>
            <%= l = album["url"].clone %> 
            <%= l.slice!('https://backdrop-studio.s3.amazonaws.com/gallery/clients/image/')%>
            <%= k = l.slice(0..(l.index('?'))-1) %>
            <%= i = k.slice(0..(k.index('/'))-1) %>

            <div class="blogpost_preview_fw element advertisement">
              <div class="fw_preview_wrapper">
                <div class="gallery_item_wrapper">
                    <a href=<%= login_path(:b =>i ) %> >
                    <!--
                    <img src= <%= asset_path 'assets/album/caption/2.jpg' %> alt="" class="fw_featured_image" width="540"> -->

                    <%= image_tag  album["url"],   alt:"", class:"fw_featured_image", width:"540", lazy:true %>
                    <!--
                    <img src= <%= album["url"]  %> alt="" class="fw_featured_image" oncontextmenu="return false;"  width="540">
                    -->
                    <div class="gallery_fadder"></div>
                    <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                  </a>
                </div>
                <div class="grid-port-cont">
                <h6><a href="simple_fullwidth_image_post.html"><%= album["caption"] %></a></h6>
                  <div class="block_likes">
                    <div class="post-views"><i class="stand_icon icon-eye"></i> <span><%= album["views"] %></span></div>                            
                    <div class="gallery_likes gallery_likes_add">
                      <i class="stand_icon icon-heart-o"></i>
                      <div id ="hidden_name" style="display: none;">
                        <%= album['album']%>
                      </div>
                      <span><%= album['likes'] %> </span>
                    </div>											
                  </div>                            
                </div>                                            
              </div>
              <div class="album-pseudo1"></div>
              <div class="album-pseudo2"></div>
            </div> 
          <% end %> 
        </div>                       
      </div>
   	<div class="preloader"></div>     
    <footer class="fullwidth">
        <div class="footer_wrapper">
            <div class="copyright">Copyright &copy;Ramesh Sigamani. All Rights Reserved.</div>
            <div class="socials_wrapper">
                <ul class="socials_list">
                	<li><a class="ico_social_dribbble" target="_blank" href="http://dribbble.com/" title="Dribbble"></a></li>
                    <li><a class="ico_social_gplus" target="_blank" href="https://plus.google.com/" title="Google+"></a></li>
                    <li><a class="ico_social_vimeo" target="_blank" href="https://vimeo.com/" title="Vimeo"></a></li>
                    <li><a class="ico_social_pinterest" target="_blank" href="http://pinterest.com" title="Pinterest"></a></li>
                    <li><a class="ico_social_facebook" target="_blank" href="http://facebook.com" title="Facebook"></a></li>
                    <li><a class="ico_social_twitter" target="_blank" href="http://twitter.com" title="Twitter"></a></li>
                    <li><a class="ico_social_instagram" target="_blank" href="http://instagram.com" title="Instagram"></a></li>
            	</ul>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
	<div class="content_bg"></div>

  <%= javascript_include_tag "jquery-ui.min.js" %>
  <%= javascript_include_tag "jquery.lazyload.min.js" %>
  <%= javascript_include_tag "modules.js" %>
  <%= javascript_include_tag "theme.js" %>
  
  <script type="text/javascript">

jQuery(document).ready(function($){
  jQuery("img").lazyload({
    effect : "fadeIn"
  });
  "use strict";
  setTimeout(function(){
    jQuery('.fullscreen_block').removeClass('hided');
  },2500);
  setTimeout("jQuery('.preloader').remove()", 2100);			

  jQuery(".gallery_likes").click(function(){
    var cnt = jQuery(this).find('span').text();
    cnt++;
    jQuery(this).find('span').text(cnt);
    alb = jQuery(this).find('#hidden_name').text();
    var url_album = '<%= album_stat_path(id:1)%>' + '?album='+alb.trim();
    jQuery.ajax({
      type: 'PUT',
      url:url_album ,
      data:{},
      success: function(){
        console.log('success');
      }
      
    });



  });
});	
  </script>  
</body>



