<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @contact.name.titleize%></h1>
    <h2>Thank you for contacting us, <%= %></h2>
    <p>
    I will keep in touch with you as soon as possbile.
    <%= %>.<br>
    </p>
    <p>
    Thanks,<br>
    RamSigman.
    <%= %>.
    </p>
    <a href=<%= home_path %>  class="logo">
      <img src="<%= image_url 'retina/logo.png' %>" alt="" class="logo_retina">
    </a>
  </body>
</html>
