<head>
</head>
<body>
  <div class="main_wrapper">
    <div class="content_wrapper">
      <div class="container">
        <div class="content_block row no-sidebar">
          <div class="fl-container ">
            <div class="row">
              <div class="posts-block ">
                <div class="page_title_block">
                  <h1 class="title">Contact Us!</h1>
                </div>                                        
                <div class="contentarea">
                  <div class="row">
                    <div class="span12 first-module module_number_1 module_cont pb35 module_text_area">
                      <div class="module_content">
                        <p> Please fill out the form below so I can assist you with your upcoming event. For more personal attention, please include your phone number.</p>
                      </div>

                      <%= flash[:notice].html_safe unless flash[:notice].blank? %>
                      <% if @contact.errors.count > 0 %>
                        <ul>
                          <% @contact.errors.full_messages.each do |e| %>
                            <div class="errors">
                              <li><%= e %></>
                            </div>
                          <% end  %>
                        </ul>
                      <% end  %>

                    </div><!-- .module_cont -->
                  </div>

                  <div class="row">
                    <div class="span9 module_number_2 module_cont pb50 module_html">
                      <div class="module_content contact_form">
                        <div id="note"></div>
                        <div id="fields"> 

                          <%= form_for @contact, :url => contactus_path , :html => {:id => 'ajax_contact-form' , :name => 'contact-form' , :method => 'post' } do |f| %>

                            <div class="w50 pr7">
                              <%= f.text_field :name, :placeholder=>"Name  *" %>
                            </div>
                            <div class="w50">
                              <%= f.text_field :email,  :placeholder=>"Email  *" %>
                            </div>
                            <div class="clear"></div>

                            <%= f.text_field :subject, :placeholder => 'Subject  *' %>
                            <%= f.text_area :message, :id=>"message", :placeholder =>'Message   *'   %>

                            <%= f.submit 'Send a message'%>

                          <%end%>

                           <!--  
                          <form id="ajax-contact-form" action="#">                                

                            <div class="w50 pr7"><input type="text" name="name" value="" placeholder="Name *" /></div>
                            <div class="w50"><input type="text" name="email" value="" placeholder="Email *" /></div>
                            <div class="clear"></div>
                            <input type="text" name="subject" value="" placeholder="Subject" />                            
                            <textarea name="message" id="message" placeholder="Message *"></textarea> 
                            <input type="submit" value="Send a message"> 
                          </form> 
-->

                        </div>                                                       
                      </div>
                    </div><!-- .module_cont -->
                    <div class="span3 module_number_3 module_cont no_bg pb40 module_contact_info">
                      <ul class="contact_info_list contact_icons">
                        <li class="contact_info_item">
                        <div class="contact_info_wrapper">
                          <span class="contact_info_icon"><i class="icon-home"></i></span>
                          <div class="contact_info_text">Webb Bridge Road, Alpharetta, GA </div>
                        </div>
                        </li>
                        <li class="contact_info_item">
                        <div class="contact_info_wrapper">
                          <span class="contact_info_icon"><i class="icon-phone"></i></span>
                          <div class="contact_info_text">+1 847 915 0956 </div>
                        </div>
                        </li>
                        <li class="contact_info_item">
                        <div class="contact_info_wrapper">
                          <span class="contact_info_icon"><i class="icon-envelope"></i></span>
                          <div class="contact_info_text"><a href="#">ram@ramsigman.com</a></div>
                        </div>
                        </li>
                        <li class="contact_info_item">
                        <div class="contact_info_wrapper">
                          <span class="contact_info_icon"><i class="icon-flickr"></i></span>
                          <div class="contact_info_text"><a href="#">Flickr</a></div>
                        </div>
                        </li>
                        <li class="contact_info_item">
                        <div class="contact_info_wrapper">
                          <span class="contact_info_icon"><i class="icon-youtube-play"></i></span>
                          <div class="contact_info_text"><a href="#">YouTube</a></div>
                        </div>
                        </li>
                      </ul>                                        
                    </div><!-- .module_cont -->                                     
                  </div>

                  <div class="row">
                    <div class="span12 module_number_4 module_cont pb0 module_google_map">
                      <div class="module_content">
                        <div id="map-canvas" class="map-canvas h500"></div>
                      </div>
                    </div><!-- .module_cont -->
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .main_wrapper -->




  <footer>
  <div class="footer_wrapper container">
    <div class="copyright">Copyright &copy;Ramesh Sigamani.  All Rights Reserved.</div>
    <div class="socials_wrapper">
      <ul class="socials_list">
        <li><a class="ico_social_dribbble" target="_blank" href="http://dribbble.com/" title="Dribbble"></a></li>
        <li><a class="ico_social_gplus" target="_blank" href="https://plus.google.com/" title="Google+"></a></li>
        <li><a class="ico_social_vimeo" target="_blank" href="https://vimeo.com/" title="Vimeo"></a></li>
        <li><a class="ico_social_pinterest" target="_blank" href="http://pinterest.com" title="Pinterest"></a></li>
        <li><a class="ico_social_facebook" target="_blank" href="http://facebook.com" title="Facebook"></a></li>
        <li><a class="ico_social_twitter" target="_blank" href="http://twitter.com" title="Twitter"></a></li>
        <li><a class="ico_social_instagram" target="_blank" href="http://instagram.com" title="Instagram"></a></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  </footer> 



  <div class="content_bg"></div>

  <%= javascript_include_tag "jquery-ui.min.js" %>
  <%= javascript_include_tag "modules.js" %>
  <%= javascript_include_tag "theme.js" %>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCqo-F2TnMAABZvfV5yTQLlWvUCJlJViU&amp;sensor=false"></script>
  <script type="text/javascript">        
    function initialize() {
      "use strict";
      // Create an array of styles.
      var styles = [
      {
        "stylers": [
        { "saturation": -81 },
        { "hue": "#00e5ff" }
        ]
      },{
        "elementType": "labels.text.stroke",
          "stylers": [
          { "visibility": "off" }
        ]
      }
      ];

      // Create a new StyledMapType object, passing it the array of styles,
      // as well as the name to be displayed on the map type control.
      var styledMap = new google.maps.StyledMapType(styles,
          {name: "Styled Map"});

      // Create a map object, and include the MapTypeId to add
      // to the map type control.
      var mapOptions = {
zoom: 13,
      center: new google.maps.LatLng( ﻿34.0767365,-84.2497665),
      mapTypeControlOptions: {
mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
      }
      };
      var map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);

      //Associate the styled map with the MapTypeId and set it to display.
      map.mapTypes.set('map_style', styledMap);
      map.setMapTypeId('map_style');
    }
google.maps.event.addDomListener(window, 'load', initialize);
</script>

</body>
