<div class="main_wrapper">
        <div class="content_wrapper">
            <div class="container">
                <div class="content_block row no-sidebar">
                    <div class="fl-container">
                        <div class="row">
                            <div class="posts-block">
                                <div class="page_title_block">
                                    <h1 class="title">Photo Listing</h1>
                                </div>
                                <div class="gallery_toolbar">
                                  <a href= <%=gallery_path %>  class="btn_back">Back</a>
                                    <div class="gallery_type_selector">                            	
                                        <a href="javascript:void(0)" class="btn_gallery_masonry "></a>
                                        <a href="javascript:void(0)" class="btn_gallery_column active"></a>
                                    </div>
                                </div>
                                <div class="contentarea">
                                    <div class="content_gallery listing_gallery">

                                      <% @albums.each do |album| %>
                                      

                                    	<div class="cont_gallery_item">
                                            <div class="cont_gallery_wrapper">
                                                <div class="grid-gallery-item">

                                                  <%= image_tag  album, lazy:true,  alt:"", oncontextmenu:"return false;"%>

                                                    <div class="gallery_fadder"></div>
                                                    <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                                                    <a href="<%= album  %>" class="prettyPhoto gallery_list_zoom" data-rel="prettyPhoto[gallery77]"></a>
                                                </div>
                                            </div>
                                        </div>

                                      <% end %> 

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
	</div><!-- .main_wrapper -->
    <footer>
        <div class="footer_wrapper container">
            <div class="copyright">Copyright &copy; Ramesh Sigamani. All Rights Reserved. </div>
            <div class="socials_wrapper">
                <ul class="socials_list">
                	<li><a class="ico_social_dribbble" target="_blank" href="http://dribbble.com/" title="Dribbble"></a></li>
                    <li><a class="ico_social_gplus" target="_blank" href="https://plus.google.com/" title="Google+"></a></li>
                    <li><a class="ico_social_vimeo" target="_blank" href="https://vimeo.com/" title="Vimeo"></a></li>
                    <li><a class="ico_social_pinterest" target="_blank" href="http://pinterest.com" title="Pinterest"></a></li>
                    <li><a class="ico_social_facebook" target="_blank" href="http://facebook.com" title="Facebook"></a></li>
                    <li><a class="ico_social_twitter" target="_blank" href="http://twitter.com" title="Twitter"></a></li>
                    <li><a class="ico_social_instagram" target="_blank" href="http://instagram.com" title="Instagram"></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </footer>       
	   
	<div class="content_bg"></div>
        <%= javascript_include_tag "jquery-ui.min.js" %>
        <%= javascript_include_tag "modules.js" %>
        <%= javascript_include_tag "theme.js" %>

        <script>


		jQuery(document).ready(function(){
      jQuery("img").lazyload();
			"use strict";
			if (window_w < 760) {
				jQuery('.is_masonry').removeClass('is_masonry').addClass('listing_gallery');
				jQuery('.gallery_type_selector').hide();
			}
			jQuery('.is_masonry').masonry();
			jQuery('.btn_gallery_masonry').click(function(){
				jQuery('.gallery_type_selector a').removeClass('active');
				jQuery('.listing_gallery').removeClass('listing_gallery');
				jQuery(this).addClass('active');
				jQuery('.content_gallery').addClass('is_masonry');
				setTimeout("jQuery('.is_masonry').masonry()",250);
				setTimeout("jQuery('.is_masonry').masonry()",500);
				setTimeout("jQuery('.is_masonry').masonry()",1000);				
			});
			jQuery('.btn_gallery_column').click(function(){
				jQuery('.gallery_type_selector a').removeClass('active');
				jQuery(this).addClass('active');
				jQuery('.content_gallery').removeClass('is_masonry');
				jQuery('.content_gallery').addClass('listing_gallery');
			});
			setTimeout("jQuery('.is_masonry').masonry()",3000);	
		});
        jQuery(window).load(function () {
			"use strict";
			jQuery('.is_masonry').masonry();
			setTimeout("jQuery('.is_masonry').masonry()",1000);
        });
        jQuery(window).resize(function () {
			"use strict";
			jQuery('.is_masonry').masonry();
			setTimeout("jQuery('.is_masonry').masonry()",500);
			setTimeout("jQuery('.is_masonry').masonry()",1000);
        });						
    </script>
