<!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href= <%= image_url('fav.png','v' => :'1') %>   type="image/x-icon">
    <link rel="apple-touch-icon" href= " <%= image_url('apple_icons_57x57.png') %>" >
    <link rel="apple-touch-icon" sizes="72x72" href= " <%= image_url('apple_icons_72x72.png') %>" >
    <link rel="apple-touch-icon" sizes="114x114" href="<%= image_url('apple_icons_72x72.png') %>">
    <title>Ramesh Sigamani | Photography</title>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,500,900" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag "theme.css" %>
    <%= stylesheet_link_tag "responsive.css" %>
    <%= stylesheet_link_tag "custom.css" %>


    <%= javascript_include_tag "jquery.min.js" %>
  </head>
  <body>

    <header class="main_header">
    <div class="header_wrapper">
      <div class="logo_sect">
        
        <a href="index.html" class="logo">
          <img src="<%= image_url 'logo.png' %>" alt=""  class="logo_def">
          <img src="<%= image_url 'retina/logo.png' %>" alt="" class="logo_retina">
        </a>

        <div class="slogan">Photography</div>
      </div>
      <div class="header_rp">
        <nav>
        <div class="menu-main-menu-container">
          <ul id="menu-main-menu" class="menu">
            <li class="current-menu-parent menu-item-has-children">


            <a href= <%= home_index_path %>><span>Home</span></a>
            </li>
            <li class="menu-item-has-children">
            <a href=<%=gallery_index_path %>><span>Gallery</span></a>
            </li>
            <li class="menu-item-has-children">
            <a href=<% aboutus_index_path %>><span>Portfolio</span></a>
            </li>
            <li class="menu-item-has-children">
            <a href=<% aboutus_index_path %>><span>About</span></a>
            </li>
            <li class="menu-item-has-children">
            <a href=<%=contactus_index_path %>><span>Contact</span></a>
            </li>
          </ul>
        </div>
        </nav>
        <a class="search_toggler" href="#"></a>
        </div>
        <div class="clear"></div>
    </div>
    </header>


    <%= yield %>

  </body>
</html>
